{% extends 'main.html' %}

{% block content %}

<h1>Home Page</h1>

<div>

    <div>
    {% for land in lands %}

        <div>
            <h5>{{ land.id }} --<a href="{% url 'land' land.id %}">{{ land.name }}</a> </h5>
        </div>


    {% endfor %}

    </div>

</div>

<h2>FORUM</h2>

<div>

    <a href="{%url 'create-room'%}"> Create new conversation</a>
    <div>
        {% for room in rooms %}
    
            <div>
                <a href="{%url 'update-room' room.id %}"> Update room</a>
                <a href="{%url 'delete-room' room.id %}"> Delete room</a>
                <span>@{{room.host.username}}</span>
                <h5>{{ room.id }} --<a href="{% url 'room' room.id %}">{{ room.name }}</a> </h5>
            </div>
    
    
        {% endfor %}
    
        </div>
</div>

{% endblock content %}



